# https://github.com/mhulse/gh-boiler/issues/42

* text=auto

.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
install.sh export-ignore
LICENSE export-ignore
README.md export-ignore
